//tipografías
$sans-serif: 'Oxygen', sans-serif;
//colors
$white: #fff;
$black: #000;
$main: #D78A16;
$background-col: #1D1A2D;
$articles-back-col: #EDFFEC;
$links: #18B324;
//main layout
$max-width: 1400px;
$content-width: 960px;
